{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Ценообразование</h1>
      <p class="fs-5 text-muted">С помощью этого примера Bootstrap быстро создайте эффективную таблицу цен для ваших потенциальных клиентов. Он построен с использованием компонентов и утилит Bootstrap по умолчанию с небольшими настройками.</p>
    </div>
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатно</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/мес</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 пользователей включено</li>
              <li>2 ГБ хранилища</li>
              <li>Обычная поддержка по электронной почте</li>
              <li>Доступ к справочному центру</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Регистрация бесплатно</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Про</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/мес</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 пользователей включено</li>
              <li>10 ГБ хранилища</li>
              <li>Приоритетная поддержка по эл. почте</li>
              <li>Доступ к справочному центру</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Начать</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Корпоративный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/мес</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 пользователей включено</li>
              <li>15 ГБ хранилища</li>
              <li>Поддержка по телефону и эл. почте</li>
              <li>Доступ к справочному центру</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Связаться с нами</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Сравнить планы</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Бесплатно</th>
            <th style="width: 22%;">Про</th>
            <th style="width: 22%;">Корпоративный</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Публичный</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Приватный</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Права</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Совместное использование</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Неограниченное количество участников</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Дополнительная безопасность</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
    </div>
{% endblock %}